<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298670487609-cos54gf996235vkd2ookcfbidmo7katp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298670487609-cos54gf996235vkd2ookcfbidmo7katp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298670487609-gg6ibb0qsvq2bsnt1b47ulh7m1nmtce3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaWicDRw9SFyW2agS8mWEWNvEf6hfpB3k</string>
	<key>GCM_SENDER_ID</key>
	<string>298670487609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hullahApp</string>
	<key>PROJECT_ID</key>
	<string>body-tips</string>
	<key>STORAGE_BUCKET</key>
	<string>body-tips.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298670487609:ios:387cd2c19d424fa30db5e8</string>
</dict>
</plist>